@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #01b4c6;
   font-family: "Roboto", sans-serif;
}

ul {
   list-style: none;
}

.container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   position: relative;
   overflow: hidden;
   padding-bottom: 50px;
}

.portal {
   width: 100vh;
   height: 100vh;
   z-index: -1;
   position: absolute;
   background: url("./img/portal.png");
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 50%;
   animation: portal-rotate 30s linear infinite;
}

@keyframes portal-rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.logo {
   display: none;
}

.char-container {
   min-height: 500px;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#image {
   width: 300px;
   height: 300px;
   border-radius: 50%;
   border: 4px solid rgb(0, 35, 51);
   background: rgb(0, 35, 51);
   z-index: 2;
}

.char-info {
   margin-top: -20px;
   padding: 15px 10px 5px;
   background: rgb(0, 35, 51);
   text-shadow: 2px 2px black;
   color: white;
   text-transform: uppercase;
   width: 70vw;
   max-width: 500px;
   min-height: 140px;
   height: auto;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   z-index: 1;
}

#name,
#status {
   font-weight: bold;
}

#gender,
#species {
   color: #498e8c;
}

#location {
   color: #e7a67a;
}

.Alive {
   color: green;
}

.Dead {
   color: red;
}
.unknown {
   color: orange;
}

@media (min-width: 768px) {
   .logo {
      display: block;
   }
}
