@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #01b4c6;
   font-family: "Roboto", sans-serif;
}

ul {
   list-style: none;
}

h5,hr {
   display: none;
}

.container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   overflow-x: hidden;
   justify-content: center;
   padding-bottom: 50px;
}

.logo{
   width: 80vw;
   max-width: 400px;
}

.portal {
   width: 100vw;
   height: 100vh;
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.portal img{
   width: 100vh;
   height: 100vh;
   animation: portal-rotate 30s linear infinite;
}

.logo{
   display: none;
}

@keyframes portal-rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

.char-container {
   min-height: 70vh;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#image {
   max-width: 300px;
   max-height: 300px;
   height: 40vh;
   width: 40vh;
   border-radius: 50%;
   border: 4px solid rgb(0, 35, 51);
   background: rgb(0, 35, 51);
   z-index: 2;
}

.char-info {
   margin-top: -20px;
   padding: 20px 20px 5px;
   background: rgb(0, 35, 51);
   text-shadow: 2px 2px black;
   color: white;
   text-transform: uppercase;
   width: 70vw;
   max-width: 300px;
   height: auto;
   border-radius: 3rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   z-index: 1;
}

#name,
#status {
   font-weight: bold;
}

#gender,
#species {
   color: #498e8c;
}

#location {
   color: #e7a67a;
}

.Alive {
   color: green;
}

.Dead {
   color: red;
}
.unknown {
   color: orange;
}

.btns-container{
   max-width: 200px;
   width: 80%;
   display: flex;
   justify-content: space-around;
}

.btns-container button{
   background:none;
   border-radius: 50%;
   padding: .25rem;
   border: 2px solid black;
   cursor: pointer;
   transition: background 1s ease;
}

.btns-container button:hover{
   background: rgb(0, 141, 0);
}

.svg-icon {
   width: 20px;
   height: 20px;
 }
 
 .svg-icon path,
 .svg-icon polygon,
 .svg-icon rect {
   fill: black;
 }



@media (min-width: 768px) and (min-height:600px) {

   h5{
      color: gray;
      display: block;
      font-size: 1rem;
   }

   li{
      font-size: 1.2rem;
   }

   hr{
      display: block;
      width: 100%;
      height: 1px;
      border: 3px solid rgb(0, 70, 102);
      border-radius: 5rem;
      margin: 2px 0 4px;
   }

   .logo{
      display: block;
   }

   .char-info {
      padding-top: 5px;
      margin-top: 0;
      padding-left: 2rem;
      width: auto;
      align-items: start;
      text-align: start;
      justify-content: space-evenly;
      font-weight: bold;
      font-size: 1.2rem;
   }

   #image {
      height: 100%;
      width: 100%;

   }

   .portal img{
      width: 100vw;
      height: 100vw;
   }

   .char-container{
      display: grid;
      grid-template-columns: .9fr 1fr;
      grid-template-rows: 3fr 1.25fr;
      background: rgb(0, 35, 51);
      height: 60vh;
      min-height: 200px;
      max-height: 400px;
      min-width: 600px;
      width: max-content;
      max-width: 1000px;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
      border: 5px solid rgb(0, 70, 102);
   }

   #image{
      border-radius: 1rem;
      border-color: rgb(0, 70, 102);
   }

   .desktop{
      font-size: 1.5rem;
      grid-column: span 2;  
      text-shadow: 2px 2px black;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .desktop span{
      color:red;
      padding-left: .5rem;
   }

   .svg-icon {
      width: 2rem;
      height: 2rem;
    }
}
@media (max-height:600px){
   h5{
      font-size: 2vh;
   }
   li, .desktop{
      font-size:3vh;
   }
}